/* LoginForm.css */
.login-form {
    max-width: 350px;
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;

  }
  
  .login-form h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
    color: #333;
  }
  
  .login-form input[type='email'],
  .login-form input[type='password'] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
  }
  
  .login-form input[type='email']:focus,
  .login-form input[type='password']:focus {
    outline: none;
    background-color: #eaeaea;
  }
  
  .login-form button {
    width: 100%;
    padding: 12px 0;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #45a049;
  }
  
  .login-form p {
    margin-top: 15px;
    text-align: center;
    font-size: 1rem;
    color: #666;
  }
  
  .login-form p a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-form p a:hover {
    text-decoration: underline;
  }
  